@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

header.header {
  max-width: 90rem;
  background-color: #fff; }
  header.header a {
    text-decoration: none; }
  header.header .header_container_top {
    max-width: 76.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.75rem 0.9375rem 0 0.9375rem;
    margin: 0 auto;
    -webkit-column-gap: 3.75rem;
            column-gap: 3.75rem; }
    header.header .header_container_top .header_top_logo {
      max-width: 14.125rem; }
    header.header .header_container_top .header_top_phone {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-column-gap: 1.375rem;
              column-gap: 1.375rem;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: end; }
      header.header .header_container_top .header_top_phone > a {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 1.5625rem;
        line-height: 1.625rem;
        color: #424242; }
    header.header .header_container_top .header_top_socmedia {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-column-gap: 1.625rem;
              column-gap: 1.625rem;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      header.header .header_container_top .header_top_socmedia > a:first-of-type > img {
        max-width: 1.75rem; }
      header.header .header_container_top .header_top_socmedia > a:last-of-type > img {
        max-width: 1.8125rem; }
    header.header .header_container_top .header_top_lang {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-column-gap: 0.875rem;
              column-gap: 0.875rem;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      header.header .header_container_top .header_top_lang > img:first-of-type {
        max-width: 2.5625rem; }
      header.header .header_container_top .header_top_lang > img:last-of-type {
        max-width: 0.6875rem; }
  header.header hr {
    border: 1px solid rgba(85, 166, 48, 0.5); }
  header.header .header_container {
    max-width: 76.875rem;
    padding: 0 0.9375rem 0 0.9375rem;
    margin: 0 auto; }
    header.header .header_container .header_bottom_menu .header_bottom_menu_icon {
      display: none; }
    header.header .header_container .header_bottom_menu > nav > ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-column-gap: 3.6875rem;
              column-gap: 3.6875rem; }
      header.header .header_container .header_bottom_menu > nav > ul > li > a {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.625rem;
        color: #424242;
        text-decoration: none; }
      header.header .header_container .header_bottom_menu > nav > ul > li > a:hover {
        text-decoration: underline;
        -webkit-text-decoration-color: rgba(0, 0, 0, 0.5);
                text-decoration-color: rgba(0, 0, 0, 0.5);
        -webkit-text-decoration-style: solid;
                text-decoration-style: solid;
        text-decoration-thickness: 2px;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }

header.header_bottom {
  position: relative;
  background-color: #ECFFEB;
  font-family: "Montserrat", sans-serif; }
  header.header_bottom .header_container_bottom {
    max-width: 76.875rem;
    padding: 0 0.9375rem 0 0.9375rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header.header_bottom .header_container_bottom .header_bottom_left > p:nth-of-type(1) {
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 1.625rem;
      color: #424242; }
    header.header_bottom .header_container_bottom .header_bottom_left > h2 {
      font-weight: 700;
      font-size: 4.0625rem;
      line-height: 4.0625rem;
      color: #55A630; }
    header.header_bottom .header_container_bottom .header_bottom_left > p:nth-of-type(2) {
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.4375rem;
      color: #424242; }
    header.header_bottom .header_container_bottom .header_bottom_left .header_bottom_left_button {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-column-gap: 1.25rem;
              column-gap: 1.25rem; }
      header.header_bottom .header_container_bottom .header_bottom_left .header_bottom_left_button button:first-of-type {
        display: inline-block;
        padding: 1.25rem 2.5625rem;
        background-color: #55A630;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        border: 1px solid #55A630; }
      header.header_bottom .header_container_bottom .header_bottom_left .header_bottom_left_button button:last-of-type {
        display: inline-block;
        padding: 1.25rem 3.625rem;
        background-color: transparent;
        color: #55A630;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        border: 1px solid #55A630; }

/*# sourceMappingURL=style.css.map */