@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$fontMont: 'Montserrat', sans-serif;
$colorGreen: #55A630;
$colorBlack: #424242;
$colorWhite: #fff;